// Colors

$bg: #FAFAFA;
$fontcolor: black;
$hover: #277CF2;
$licolor: #EDEBEB;
$darkgray: darkgray;

// Font Size

$font-size: 1.2em;

//Font weight
$font-weight: bold;


//Font Family

$bitter: 'Bitter', serif;
$arvo: 'Arvo', serif;
