/*********************************
        MAIN STYLES
*********************************/


* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
    background: $bg;
    font-family: $arvo;
    font-size: 17px;
    width: 1300px;
    max-width: 90%;
    @extend %margin;
        @include tablet {
            max-width: 95%;
            @extend %margin;
        }



    }




h2 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: $font-weight;

}

h3 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: capitalize;

}

p {
  padding-bottom: 20px;
  max-width: 90%;
  @extend %margin;

}

a {
    text-decoration: none;


    &:visited,
    &:link {
        color: $fontcolor;
    }
    &:hover {
      color: $hover;
}
}

/***** Clearfix *****/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
